<ion-header [translucent]="true">
  <ion-toolbar color="primary" text-center>
    <ion-title>
      Tab 1
    </ion-title>
    <ion-icon slot="end" name="menu"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="This is news page"></app-explore-container>
</ion-content>
