<ion-header>
  <ion-toolbar>
    <ion-title>{{ article.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="article.urlToImage"></ion-img>

    <ion-card-content>
      <ion-card-title>{{ article.title }}</ion-card-title>

      <p>{{ article.description }}</p>
    </ion-card-content>

  </ion-card>
</ion-content>
